[submodule "Common/3rdParty/coredata-easyfetch"]
	path = Common/3rdParty/coredata-easyfetch
	url = /Users/davendasora/Documents/Projects/Kaiten/KaitenExtensions/Project/KaitenExtensions/Common/3rdParty/coredata-easyfetch
